.card-container{
    background-image: url('../Assets/background.jpg');
    float: left;
    width: 300px;
    overflow: hidden;
    /* box-shadow: 0px 0px 15px -5px; */
    padding: 50px;
    margin: 33.33px 33.33px;
    margin-left: 100px;
    margin-top: 130px;
}
.card-container:hover{
    transform: scale(1.1);box-shadow: 0px 0px 15px 0px;
}

.image-container img{
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 15vw;
}

.card-content{
    margin: 1rem;
    margin-top: 0.5rem;
}

h3,p{
    margin: 0;
    padding: 0;;
}

.card-title{
    margin-bottom: 0.5rem;
}

.btn{
    display: flex;
    justify-content: center;
}

.btn button:hover{
    background: rgb(27, 156,252, 0.1);
}

.btn button{
    padding: .5 rem;
    background-color: white;
    border: none;
    transition: 0.2s;
    margin-bottom: .5rem;
    border-radius: 3px;
}

a {
    text-transform: uppercase;
    color: #1B9CFC;
    text-decoration: none;
    font-weight: bold;
}

.details-box{
    background-color: black;
}